@import url('reset.css');

#main {
    
}

#menu {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 42px;
    width: auto;
    background: #cecece;
}

#btnnotifications {
    float: left;
    height: 42px;
    width: 42px;
    background: #990000;
}
#btnnotifications:hover {
    float: left;
    height: 42px;
    width: 42px;
    background: #990000;
    cursor: pointer;
}
#btnsms {
    float: left;
    height: 42px;
    width: 100px;
    background: #CCCCCC;
}
#btnsms:hover {
    float: left;
    height: 42px;
    width: 100px;
    background: #DDDDDD;
    cursor: pointer;
}
#btncalls {
    float: left;
    height: 42px;
    width: 100px;
    background: #cccccc;
}
#btncalls:hover {
    float: left;
    height: 42px;
    width: 100px;
    background: #dddddd;
    cursor: pointer;
}

#notifications {
    z-index: 700;
    position: absolute;
    top: 42px;
    left: 0px;
    width: 250px;
    background: #eeeeee;
}

#contactlist {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    overflow: auto;
}

#messages {
    position: absolute;
    top: 0px;
    left: 250px;
    overflow: auto;
}

#content {
    position: absolute;
    top: 42px;
    left: 0px;
    overflow: auto;
}

.contact:hover {
    cursor: pointer;
}

.smsmessage {
	margin: 25px;
	width: 250px;
	
}
